<div   style="max-width:700px; width: 100%; margin: 50px auto 0px;">
      
    <h1 style="text-align: center; color: rgb(65, 65, 247)">Ingrese Producto</h1>
    <form action="http://localhost:8080/api/productos" method="POST" id="id-form">
          <div>  
              <label class="form-label">Title</label>
              <input type="text" name="title" class="form-control" id="inputtitulo" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
              <label for="input-precio" class="form-label">Price</label>
              <input type="text" name="description" class="form-control" id="inputprecio" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="input-thumbnail" class="form-label">Thumbnail</label>
            <input type="text" name="thumbnail" class="form-control" id="inputthumbnail">
          </div>
          <button type="submit" class="btn btn-primary" style="max-width: 700px; width: 100%; margin: 50px auto 0px;" id="submit">ENVIAR</button>
    </form>
        
  </div>