<div class="contenedor" style="background-color: rgb(184, 181, 181); max-width:700px; width: 100%;  margin: 50px auto 0px;">
    <h1 style="text-align: center; color: rgb(65, 65, 247); margin-top: 50px;">Centro de mensajes</h1>
    <h3 style="text-align: center" id="compression">Compresion</h3>

    <form id="id-form-chat">
      <div style="height: 50px; max-width:700px; width: 100%;  margin: 50px auto 0px;">
        <input type="text" name="email" id="id-mail" placeholder="Ingrese su e-mail" style="max-width:500px; width: 100%; margin-left:100px;" required="true"> 
      </div>
      <div style="height: 50px; max-width:700px; width: 100%;  margin: 5px auto 0px;">
        <input type="text" name="nombre" id="id-nombre" placeholder="Ingrese su nombre" style="max-width:500px; width: 100%; margin-left:100px;" required="true"> 
      </div>
      <div style="height: 50px; max-width:700px; width: 100%;  margin: 5px auto 0px;">
        <input type="text" name="apellido" id="id-apellido" placeholder="Ingrese su apellido" style="max-width:500px; width: 100%; margin-left:100px;" required="true"> 
      </div>
      <div style="height: 50px; max-width:700px; width: 100%;  margin: 5px auto 0px;">
        <input type="text" name="edad" id="id-edad" placeholder="Ingrese su edad" style="max-width:500px; width: 100%; margin-left:100px;" required="true"> 
      </div>
      <div style="height: 50px; max-width:700px; width: 100%;  margin: 5px auto 0px;">
        <input type="text" name="alias" id="id-alias" placeholder="Ingrese su alias" style="max-width:500px; width: 100%; margin-left:100px;" required="true"> 
      </div>
      <div style="height: 50px; max-width:700px; width: 100%;  margin: 5px auto 0px;">
        <input type="text" name="avatar" id="id-avatar" placeholder="Ingrese su avatar" style="max-width:500px; width: 100%; margin-left:100px;" required="true"> 
      </div>
      <div class="id-chat" style="max-width:700px; width: 100%;  margin: 5px auto 0px">
        <input type="text" name="text" placeholder="Ingrese su mensaje..." id="id-chat-message" style="max-width:400px; width: 100%; margin-left:100px">
        <button type="submit" style="margin-left: 20px; width: 80px;">Enviar</button>
      </div>
    </form>
      <div class="id-chat" id="id-chat" style="overflow: auto; height: 250px; max-width:700px; width: 100%; margin: 50px auto 0px; background-color: rgb(206, 206, 206);">
      </div>
</div>